<%= form_with model: [@test, @question], local: true do |form| %>
  <% if @question.errors.present?  %>
    <div>
      <h2>Errors detected: </h2>

      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p><br>

<% unless @question.new_record? %>
  <p>
    <%= form.label :position %>
    <%= form.text_field :position %>
  </p>
<% end %>
  

  <p><%= form.submit %></p> 
<% end %>
