<p class="h1">Passing the <%= @test_passage.test.title %> Test</p>
<p class="h5"><%= @test_passage.current_question.body %></p>
<p class="h6">Number of question <%= position_number%></p>

<div class="progress" style="height:20px">
  <div class="progress-bar" style="width:<%= progress %>%;height:20px"><%= progress %>%</div>
</div>
<%= content_tag :h1, nil, class: 'timer', data: {count_down: count_down, test_passage_id: @test_passage.id} %>
<%= form_with url: test_passage_path(@test_passage), local: true, method: :put  do |form| %>
  <div class="form-group mt-3">
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <div class="form-check mt-1">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
          <%= b.label class: 'form-check-label'%>
        </div>
      <% end %>
    <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %>
    <%= form.submit 'Next' , class: 'btn btn-success mt-3'%>
  </div>
<% end %>
