<nav class="navbar navbar-light bg-light">
  <div class="navbar-brand d-flex">
    <%= link_to 'TestGuru', root_path, class: 'nav-link text-info' %>
    <% if current_user&.admin? %>
      <%= link_to 'Admin panel', admin_tests_path, class: 'nav-link' %>
      <%= link_to 'Gists', admin_gists_path, class: 'nav-link' %>
    <% end %>
  </div>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> GURU |
      <%= link_to  "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_session_path(resource_name) %> |
      <%= link_to 'Sign up', new_registration_path(resource_name) %>
    <% end %>
  </span>
</nav>
