<%= form_with model: [@question, @answer], local: true do |form| %>
  <% if @answer.errors.present?  %>
    <div>
      <h2>Errors detected: </h2>

      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p><br>
  <p>
    <%= form.check_box :correct %>
      <%= form.label :correct%>
  </p>

  <p><%= form.submit %></p> 
<% end %>
