<%= form_with model:[:admin, @category] , local: true do |form| %>
  <% if @category.errors.present?  %>
    <div>
      <h2>Errors detected: </h2>

      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
