<%= form_with model:[:admin, @category] , local: true do |form| %>
  <%= render 'shared/errors', resource: @category %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
