<%= form_with model: [:admin, @test], local: true do |form| %>
  <% if @test.errors.present?  %>
    <div>
      <h2>Errors detected: </h2>

      <ul>
        <% @test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p><br>

  <p>
    <%= form.label :level, class: 'hello' %>
    <%= form.text_field :level %>
  </p><br>

  <p>
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select(@categories),{},{required: 'true', autofocus: 'true', class: 'select2'}%>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
