<tr class="text-center">
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.length %></td>
  <td class="align-middle"><%= link_to t('.show'), admin_test_path(test), class: 'btn btn-info'%></td>
  <td class="align-middle"><%= link_to t('.edit'), edit_admin_test_path(test), class: 'btn btn-primary'%></td>
  <td class="align-middle">
  <%= link_to t('.delete'),
              admin_test_path(test),
              class: 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
