<h1>Test : <%= @test.title %></h1>
<h1>Author: <%= @test.author.name %></h1>
<p>Create a new question</p>
<%= link_to 'New question', new_admin_test_question_path(@test) %>
<table>
    </tr>
      <th>Question</th>
      <th colspan="4">Actions</th>
    <tr>
<%= render @test.questions%>
</table>

<%= link_to 'Back', admin_tests_path %>
