<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>


      <div class="nav user">
        <div class="nav_left">
          <%= link_to 'TestGuru Admin Panel', admin_tests_path %>
        </div>
        <div class="nav_right">
          <p>Welcome, <b><%= current_user.email %> GURU | </b></p>
          <%= link_to  "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
